.images-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 25%;
    margin-left: 4rem;
  
  }
  
  .images-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
     width: 70%;
    height: 200px;
    animation: slide 10s linear infinite;
   
  }
  
  .image-item {
    flex: 0 0 calc(33.33% - 20px); 
    text-align: center; 
    margin: 10px; 
  
  }

   /*responsiveness */
   

  .image-item h4{
    margin: auto;
    color: #2B2B2B;
    text-align: left;
    margin-top: 20px;
  }

  .image-item p{
    color: #2B2B2B;
    text-align: left;
  }

  .image-item h2{
    /* color: #2B2B2B; */
    text-align: left;
  }

  
   .special-button{
    margin-left: 50px;
   }
  
  img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }
  

    /*icons*/

    .icon-column {
      display: flex;
      flex-direction: column;
     color: #C29D59;
      height: 30px; 
    }
    

   /*animation*/

   @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(10%); 
    }
    50% {
      transform: translateX(0); 
    }
    75% {
      transform: translateX(-10%); 
    }
    100% {
      transform: translateX(0); 
    }
  }

   /*responsiveness*/

    @media (max-width: 768px) {
  .images-container {
    margin-right: 0;
    align-items: center;
    margin-left: 4rem;
  }

  .images-row {
    width: 100%;
    flex-wrap: wrap; 
  }

  .image-item {
    flex: 0 0 calc(50% - 20px); 
    text-align: center;
  }

  .special-button {
    margin-left: 0;
    margin-top: 20px; 
  }
}

 /*phone version*/

   @media (max-width: 480px) {
  
  .images-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .image-item {
    flex: 0 0 100%;
  }
  
}




  

    

 