.testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.testimonial-content {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 62rem;
    margin-right: 16rem;
  }
  
  .testimonial-image {
    width: 260px; 
    margin-right: 90px; 
  }

    .full-last img {
      margin-left: 15%;
      margin-right: 15%;
    }
  
  .testimonial-box {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left; 
    flex-grow: 1; 
  }
  
  .stars-icons {
    display: flex;
    justify-content: left;
    margin: 10px 0;
  }
  
  .star-icon {
    font-size: 24px;
    color: #C29D59;
 
  }
  
  .testimonial-slide {
    font-size: 20px;
    line-height: 1.4;

  }
  
  .dots-icons {
    display: flex;
    justify-content: left;
    margin: 10px 0;
  }
  
  .dot-icon {
    font-size: 24px;
    color: #C29D59;
  }


   /*testimonial*/
     
    .testimonial{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
     


    }
     .desc-test{
      
      margin-top: 5rem;
     }

     .testimonial-button{
      margin-right: 14rem;
     }

      .desc-test h3{
        font-size: 30px;
      }
     
       .desc-test h4{
        font-size: 20px;
       }


   /*images column*/

   .klab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .techup {
    display: flex;
    flex-direction: row; 
  }
  
  .skills {
    flex: 1; 
    text-align: center; 
  }
  
  img {
    width: 100%; 
    height: auto; 
  }
  
  /*planner*/
  
   .planner-hover{
     display: flex;
     padding: 20px;
   }

   .planer-image{
   
     width: 65%;
     height: auto;
    margin-top: 30px;
    margin-left: 10%;
     margin-right: 10%;
    object-fit: cover;
   }
    
   .planner-column{
    padding: 10px;
   }

    .planner-column h3{
      margin-top: -6rem;
      font-size: 20px;
      color: white;
      text-align: left;
    
    }

  /*hovering*/

   .planner-column img {
      height: auto;
      transition: transform 0.3s;
      
    }
    .planner-column:hover img {
      transform: scale(1.1);
    }

 /*full last*/
  
 .the-last-one{
   display: flex;
   margin-right: 10%;
   margin-left: 5%;
   padding: 10px;
  
 }

  .full-column{
    padding: 15px;
  }



 .full-column img{
    width: 300px;
    height: 200px;
    transition: transform 0.3s;
 }

 .full-column:hover img {
  transform: scale(1.1);
}

 /*responsiveness*/


 @media (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
    margin-top: 4rem;
  }

  .testimonial-content {
    margin-right: 0;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .testimonial-image {
    margin-right: 0;
  }

  .testimonial-box {
    margin-top: 2rem;
    max-width: 100%;
  }

  .testimonial-slide {
    font-size: 18px;
  }

  .testimonial {
    /* flex-direction: column; */
    align-items: center;
    margin-top: -5rem;
    
  }

  .testimonial-button {
    margin-right: 0;
    margin-top: 2rem;
  }

  .planer-image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
   
   .planner-hover{
    width: 90%;
   }

  .the-last-one {
    margin-right: 23rem;
    flex-direction: column;
  }
}
 