

 .add-tour form {
   width: 500px ;
   box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
   
.add-tour{
  display: flex;
  margin-left: 5rem;
}


 .add-tour input {
  width: 80%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
 
 }

 .add-tour label {
  margin-top: 10px;
  font-weight: bold;
}

 .Cancel button{
  background-color: red;
 }