.dashboard{
    display: flex;
}
 .sidebar {
  width: 250px;
  height: 690px;
  padding: 20px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

.sidebar-left-side {
  background-color: white;
}

.sidebar-left-side img {
  width: 180px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

 .sidebar-menu li {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 3rem; 
}


.sidebar-menu li a {
  text-decoration: none;
  color: #2B2B2B;
  margin-left: 10px;
  font-size: 17px;
}


.sidebar-menu li .fa-icon {
  margin-right: 10px; 
}


.sidebar-left-side h3{
    margin-top: -2.5rem;
    margin-left: 4rem;
    font-size: 30px;
}


 /*right side*/


  main .info-data {
  margin-top: 46px;
  display: flex;
}

  .dashboard-title{
	margin-right: 3rem;
	font-size: 30px;
	color: #2B2B2B;
  }

   main .info-data .card {
	padding: 5px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    width: 300px;
    color: #2B2B2B;
	margin-top: -3rem;
	margin-right: 15px;
}

main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

main .card .progress {
	display: flex;
	margin-top: 24px;
	height: 10px;
	padding: 20px;
	
}
 


main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

 /*cart*/


  .design-chart{
    display: flex;
    margin-top: 20px;
    
  }

   .leftChartContainer, .rightChartContainer {
    height: 50%; 
     width: 60%;  
}
  
/*-------*/

.sidebar-right-side{
  display: flex;
  flex-direction: column;
}




  @media (max-width: 768px) {
  .dash {
    flex-direction: column;
    align-items: center;
    
  }

  .info-data {
    flex-direction: column;
  
  }
   .main .card .head{
    padding: 10px;
   }




  .card { 
    margin-bottom: 20px; 
  }
}