.tab-edit-user form{
  width: 600px ;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

 .tab-edit-user input{
  width: 80%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
 }

  .ready{
    display: flex;
    margin-right: 18rem;
    justify-content: space-around;
  }