.todo{
  margin-top: 5%;
}


 .gone{
  display: flex;
 }

  .adding-tour{
  display: flex;
  float:right;
  background-color: rgb(194, 157, 89);
  justify-content: flex-end;
  padding: 15px 15px;
  margin-right: 10rem;
  margin-bottom: 50px;
  color: white;
  margin-top: -5px;
  cursor: pointer;
}

 .got-trow{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  
 }
  .cellule{
    padding: 15px;
  }
  
