 /* tour right side*/
 
 .sidebar-right-side{
    display: flex;
    margin-left: 8rem;
     
 }

  .total-booking{
    padding: 40px; 
   
  }

  .total-booking span{
     padding: 60px;
     font-size: 25px;
     
  }


    
/* Style table cells */
.table th, .table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ccc; 
  white-space: nowrap; 
  
}

/* Style the table header */
.table th {
  color: #333; 
  
}

.user-container{
    width: 950px;

}

 .todo{
  margin-top: 5rem;
 }

.table td:nth-child(2),
.table th:nth-child(2),
.table td:nth-child(3),
.table th:nth-child(3) {
  text-align: center;
   box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}




