
.add-user-btn{
  display: flex;
  float:right;
  background-color: rgb(194, 157, 89);
  justify-content: flex-end;
  padding: 15px 15px;
  margin-left: -20px;
  margin-bottom: 50px;
  color: white;
  margin-top: -5px;
  cursor: pointer;
}

.user-container{
  margin-top: 40px;
  width: 950px;
}

 .user-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
}

.user-row {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid #ccc;
}

.user-headers {
  font-weight: bold; 
 
}

/* .user-cell {
  display: flex;
  align-items: flex-start;
} */

.user-cell:last-child {
  text-align: center; 
}

.action-icons {
  display: flex;
  gap: 10px;
  margin-right: 3rem;
}

  