
.add-user-btn{
  display: flex;
  float:right;
  background-color: rgb(194, 157, 89);
  justify-content: flex-end;
  padding: 15px 15px;
  margin-left: -20px;
  margin-bottom: 50px;
  color: white;
  margin-top: -5px;
  cursor: pointer;
}

.user-tour{
  margin-top: 40px;
  width: 950px;

}

 .user-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
   box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  
}

.user-row {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid #ccc;
 
 
}

.user-headers {
  font-weight: bold; 
 
}

.user-cell:last-child {
  text-align: center; 
}

.action-icons {
  display: flex;
  gap: 10px;
  margin-right: 3rem;
}

 /*responsiveness*/
  
  @media (max-width: 768px) {
  .user-cell {
    flex-basis: 100%;
  }

  .action-icons {
    justify-content: center;
    margin-right: 0;
  }

  .add-user-btn {
    margin-left: 0;
    margin-top: 0;
  }
}
  