
 .login-container {
  display: flex;
  /* height: 70vh; */
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(250, 250, 255);
}

.login-form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-form h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
  margin-right: 60%;
  /* margin-top: -30px; */
 
}

.login-form .error-message {
  color: red;
  margin: 10px 0;
}

.login-form form {
  width: 70%;
}

.login-form .form-group {
  margin: 10px 0;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
 
}

.login-form button {
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form .signup-link {
  margin-top: 10px;
  text-align: left;
}

.login-image {
  flex: 1;
  margin-top: 50px;

}

.login-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover; 
}

  /*responsivenes*/

   @media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
   
  }
  .login-form {
    width: 100%;
     margin-right: 10rem;
  }

   .login-image img{
    margin-top: -40px;
  
   }
}

 @media (max-width: 768px) {
  input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}