
/*nav-container*/

  .nav-container{
    flex: 1;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 100px ;
    height: 80px;
  }
  

  .nav-icon:hover {
  font-size: 30px;
  color: #000;
}

.contact-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.left-contact {
  border-right: 1px solid #f2f2f2;
}

.contact-item:hover {
  background-color: #fff;
  color: #000;
}

.contact-item > a {
  color: #fff;
  text-decoration: none;
}

.contact-item > a:hover {
  color: #000;
  text-decoration: none;
}

 .right a{
   color: #c29d59;
 }


/*navbar-top*/
  .navbar-top{
   flex: 1;
   display: flex;
   flex-direction: row;
  }

  .navbar-top .left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar-top .right {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-icon {
  font-size: 30px;
  color: #b79d59;
}


/*navtech*/
.nav-tech {
  display: flex;
  justify-content: space-between; 

  align-items: center;

  /*responsiveness*/
  @media (max-width: 768px) {
    flex-direction: row;
    height: auto;
  }

    .close-icon{
    margin-right: 10rem;
    }

}

.contact-info {
  display: flex;
  align-items: center;
  
  /*responsive*/

   @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 20px;

}

.contact-icon {
  font-size: 24px;
  margin-right: 5px;
  color: #c29d59;
}

.contact-text {
  font-size: 16px;
  color: white;
}

.nav-tech ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-tech li {
  display: inline;
  margin-right: 30px;
  font-size: 20px;
  color: white;
  cursor: pointer;


}

/*navbar*/

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-left: 10%;
  margin-left: 5%;
  height: 80px;
 
}

.navBar .navButton button {
  margin-left: 2rem;
  color: var(--bg-white-500);
  background-color: #c29d59;
  color: white;

}


.navBar .navButton .search-icon {
  background-color: var(--bg-white-500);
  color: var(--bg-black-900);
  border-radius: 1200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bg-black-900);
  width: 80px;

  

}

.navBar .navButton .humburger {
  border-radius: 1200px;
  border: 2px solid var(--skin-color);
  size: large;
  background-color: #c29d59;
  width: 80px;

}

/*reserver*/

.description {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #c29d59;
  color: white;
  border: solid 1px #c29d59;
  cursor: pointer;
}





  /*responsiveness*/

     @media screen and (max-width: 768px) {
            .navbar-top {
                flex-direction: row;
                align-items: center;
                text-align: center;
            }
            .contact-item {
                margin: 10px 0;   
            }

            .navbar-top .right {
                margin-left: 0;
                margin-top: 10px;
            }
            .nav-top .right a{
              flex-direction: row;
            }
           
            .navBar{
              display: flex;
              flex-direction: row;
              width: 95%;
            }
            .navButton{
              flex-direction: row;
              /* margin-top: 20px; */
           
            }
          
        }


         /*phone version*/

          @media screen and (max-width: 580px) {
  
  .navbar-top {
    flex-direction: row;
    align-items: stretch;
    text-align: center;
  }
  .contact-item {
    margin: 10px 0;
  }
  .navbar-top .right {
    margin-left: 0;
    margin-top: 10px;
  }
  .nav-top .right a {
    flex-direction: row;
  }
  .navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .navButton {
    flex-direction: row;
   
  }
}
     
